Vysledek pro studenta [% student %] UCO [% uco %] (login [% login %]), SVN revize [% revision %].
Cvicici tohoto studenta je [% cvicici %].
Cas vyhodnoceni je [% timestamp %], load [% load %], doba provedeni [% time %].
[% other_info %]
Shrnuti vysledku:
[% summary %]


Zaznam testu:
[% log %]

S pozdravem
Kontr - automaticky system opravy domacich ukolu
