Repozitar z URL "[% repo %]" nebylo mozne aktualizovat.

Chyba muze byt zpusobena porusenim integrity zdrojoveho repozitare, muze vsak byt problem s SVN serverem. Zkuste, prosim, odevzdat znovu.

Pokud se tato chyba vyskytla trikrat po sobe, dejte nam, prosim, vedet na xbrukner@fi.muni.cz.

S pozdravem
Kontr - automaticky system opravy domacich ukolu
